<h2>{{product.name}}</h2>
<table class="table"
style=
"border-bottom: 1px solid rgb(128, 103, 103);"
>
<thead>
    <tr>
        <th></th>
      <th scope="col">صورة</th>
      <th scope="col">الاسم</th>
      <th scope="col">القسم</th>

      
      <th scope="col">النشط</th>
    </tr>
  </thead>
  <tr >
    <td>
  <mat-icon
  style="
  margin-top : 5px;
  "
  >delete_sweep</mat-icon>
    </td>
    <td>
      <img src="
      http://omar01-001-site1.ftempurl.com/Images/100.jpg
      "
      style="
      width: 60px;
      height: 60px
      "
       >

     

    </td>
    <td>{{product.name}}</td>
    <td>{{product.note}} </td>
    <td>{{product.show}}</td>
    
   


  </tr>
</table>