ul{
    li{
        display: inline;
        margin-right: 100px;
        margin-left: -20px;
    }
}
.contain{
    width: 70%;
    height: 100vh;
    border-radius: 10px;
    background: white;
    margin-left: 170px;
    margin-top: 50px;
}
