<section>
    <div class="top"
    style="
    margin-top:30px;
    
    margin-left: 170px;


    "
    >
        <span
        style="
 font-family: Tajawal,Changa,Muli;
    font-weight: 700;
    line-height: 1.5;
    color:#0c5a51;

        "
        >اضافة منتج</span>
        <button 
        style="
        display: inline;
        margin-left: 80%;
        background-color: #139485;
        color: white;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 
        0px 2px 2px 0px rgb(0 0 0 / 14%), 
        0px 1px 5px 0px rgb(0 0 0 / 12%);
        border: none;
        outline: none;
        padding: 6px 16px;
    font-size: 1rem;
    min-width: 64px;
    box-sizing: border-box;
        "
        >
            حفظ
        </button>
    </div>
    
    <div class="contain">

        <div class="row">
            <div class="col-12">
              <div
    style="
    margin-top:20px;
    "
    >
        <ul>
            <li>
                المصادر
            </li>
            <li>
                الضرائب
                </li>
                <li>
                    التخفضيات
                    </li>
                    <li>
                        الاضافات
                        </li>
                        <li>
                            الاسعار
                            </li>
                            <li>
                                المعلومات الاساسية
                                </li>
        </ul>
        

    </div>
    <form class="form">
        <div class="flex justify-center sm:justify-start flex-wrap -mx-8">
            <label for="button-file" class="jss452 flex items-center justify-center relative w-128 h-128 rounded-4 mx-8 mb-16 overflow-hidden cursor-pointer shadow-1 hover:shadow-5">
                <input accept="image/*" class="hidden" style="display: none;" id="button-file" type="file" value="">
                <span style="margin-left: 50px;"  class="material-icons MuiIcon-root MuiIcon-colorAction MuiIcon-fontSizeLarge" aria-hidden="true">cloud_upload</span>
            </label></div>
        <div>
        <input
        type="text"
        placeholder=" الاسم|English*"
        style="
        width:80%;
        margin-left:50px;
        border-radius: 5px;
        padding: 18.5px 14px;
        "
        >
        <span
        style="
        margin-left:-60px
        "
        >0/45</span>

        </div>
        <div>
            <input
            type="text"
            placeholder="*الاسم|عربى"
            style="
            width:80%;
            margin-left:50px;
            border-radius: 5px;
            padding: 18.5px 14px;
            margin-top: 20px;
            "
            >
            <span
            style="
            margin-left:-60px
            "
            >0/45</span>
    
            </div>
            <div>
                <input
                type="text"
                placeholder=" القسم*"
                style="
                width:80%;
                margin-left:50px;
                border-radius: 5px;
                padding: 18.5px 14px;
                margin-top: 20px;
                "
                name="example" list="exampleList"
                >
                <datalist id="exampleList">
                    <option value="A">  
                    <option value="B">
                  </datalist>
               
        
                </div>
                <div>
                   
                  <textarea
                  placeholder=" الوصف|English*"
                  style="
                  width:80%;
                  margin-left:50px;
                  border-radius: 5px;
                  padding: 18.5px 14px;
                  margin-top: 20px;
                  "
                  ></textarea>
            
                    </div>
                    <div>
                   
                        <textarea
                        placeholder="وصف|عربى*"
                        style="
                        width:80%;
                        margin-left:50px;
                        border-radius: 5px;
                        padding: 18.5px 14px;
                        margin-top: 20px;
                        "
                        ></textarea>
                  
                          </div>
                        
                          <!-- Material switch -->
                          <div>
                              <span
                              style="
                              margin-left: 47px;
                              "
                              >خاضع الضريبة</span>
                          <mat-slide-toggle
                          style="
                          margin-left: 590px;
                          margin-top: 20px;

                          "
                           >
                              
                        </mat-slide-toggle>
                    </div>
                  
           
    </form>
            </div>
        </div>
    </div>
</section>